<% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger">
        <% errorMessage.forEach(function(error) { %>
            <%= error %><br>
        <% }); %>
    </div>
<% } %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
            <div class="elements">
                <% categorie.forEach(function(categoria) { %>
                    <div class="elemento">
                        <a href="/categoria/<%= categoria %>">
                            <div class="info-elemento nome">
                                <%= categoria %>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>