<header class="header-section">
    <div class="container-fluid">
        <div class="row align-items-center"> <!-- Assicurati che tutti gli elementi siano allineati al centro -->
            <div class="col-md-2">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-auto">
                <a class="active" href="/">Home</a>
            </div>
            <div class="col-auto">
                <a class="active" href="/admin/categories">Categorie</a>
            </div>
            <div class="col-auto">
                <a class="active" href="/admin/users">Users</a>
            </div>
            <div class="col-auto">
                <a class="active" href="/admin/products">Products</a>
            </div>
            <div class="col flex-grow-1"></div> <!-- Spazio libero -->

            <div class="col-auto">
                <div class="header-icons">
                    <a href="/admin/profile">
                        <img src="img/icons/profile-icon.png" alt="Profile">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<br>
<div class="header-info">
    <div class="container-fluid">
        <div class="row">

            <div class="header-search">
                <form action="#" class="search-form">
                    <input type="text" placeholder="Cerca...">
                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>