.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.slider {
    width: 100%;
    height: auto;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url('data:image/svg+xml;charset=utf8,<svg fill="%23000" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M4.707 7.707L3.293 6.293 5.586 4 3.293 1.707 4.707.293 7.414 3l-2.707 2.707zM0 3h7v2H0V3z"/></svg>');
}

.carousel-control-prev-icon-prod, .carousel-control-next-icon-prod {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: transparent no-repeat center center;
    background-image: url('data:image/svg+xml;charset=utf8,<svg fill="%23000" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"><path d="M4.707 7.707L3.293 6.293 5.586 4 3.293 1.707 4.707.293 7.414 3l-2.707 2.707zM0 3h7v2H0V3z"/></svg>');
}

.carousel-control-prev-icon {
    transform: scaleX(-1);
}

