.product-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card {
    height: 300px;
    width: 200px; /* Altezza totale della card (personalizzabile) */
}

.product-image {
    max-height: 175px; /* L'immagine occupa il 75% dell'altezza della card */
    object-fit: contain; /* Mantiene le proporzioni dell'immagine */
    /* Centra l'immagine orizzontalmente */
    margin: 10px auto 0;
}

.card-body {
    height: 25%; /* Il contenuto testuale occupa il 25% dell'altezza della card */
}

.price {
    font-weight: bold;
}

